# GITBLOCKS_BLENDER_BIN=/home/user/blender-4.5.3-linux-x64/blender
GITBLOCKS_BLENDER_BIN=/home/torrin/.cache/gitblocks/blender/Blender5.1/blender-5.1.0-linux-x64/blender-5.1.0-linux-x64/blender-5.1.0-linux-x64/blender
GITBLOCKS_TEST_DIR=/tmp/gitblocks_addon_tests
GITBLOCKS_KEEP_TEST_DIR=0
