# GITBLOCKS_BLENDER_BIN=/home/user/blender-4.5.3-linux-x64/blender
# GITBLOCKS_BLENDER_CACHE_DIR=/home/user/.cache/gitblocks/blender
# GITBLOCKS_BLENDER_VERSION=5.1.0
# GITBLOCKS_BLENDER_VERSIONS=5.0.1,5.1.0
GITBLOCKS_TEST_DIR=/tmp/gitblocks_addon_tests
GITBLOCKS_KEEP_TEST_DIR=0
